<!DOCTYPE html>
<html >
    <head>
        <title>Impexui - layout</title>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../../themes/default/impexui.css"/>
		<link rel="stylesheet" type="text/css" href="../../themes/icon.css"/>
		<script type="text/javascript" src="../../impex.all.js"></script>
		<script type="text/javascript" src="../../impex.ext.router.js"></script>
		<script type="text/javascript" src="../../build/impexui.all.js"></script>
		<script type="text/javascript" src="../../src/impex.component.js"></script>
		<script type="text/javascript" src="../../src/impex.directive.js"></script>
		<script type="text/javascript" src="../../src/impex.util.js"></script>
		<script type="text/javascript" src="../../src/impexui.js"></script>
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="../js/perfect-scrollbar.js"></script>
		<style>
			html{height:100%;}
			body{height:100%;margin:0px;overflow:hidden;font-family: 'Microsoft Yahei', verdana;color:rgb(34,34,34);}
			ul, ol {list-style: none;padding: 0px;}
		</style>
    </head>
    <body>
		<div class="impex-layout">
			<header>
				<nav class="tV0"> 
					<div class="wo0">
						<ul>
							<li :click="tabChange(fun.code, fun)" class="tab-bg {{fun.code == currentPanel ? 'tab-bg-select' : ''}} {{($index == 9 || ($index + 1) == functions.length) ? 'tr5' : ''}}" x-each="functions as fun => limitBy:2" style="width: 86px;">
								<span class="label">{{fun.name}}</span>
								<a :click="tabClose($index)" x-if="false" class="close"><i class="icon"></i></a>
							</li>
							<li class="tab-bg op" x-if="false"><i class="icon"></i></li>
						</ul>
					</div>
				</nav>
				<div class="hb"></div>
			</header>
			<div class="center">
				<nav id="leftNav" x-if="currentMenus && currentMenus.length > 0">
					<ul class="menu">
						<li x-each="currentMenus as menu" class="{{currentLink == menu.link ? 'active' : ''}}">
							<a href="#!{{menu.link ? menu.link : ''}}">
								<div class="label">
									<i class="icon icon-app"></i>
									<span>{{# menu.name}}</span>
								</div>
							</a>		
						</li>
					</ul>
				</nav>
				<div class="container">
					{{# PANEL_HTML}}
				</div>
			</div>
			<footer class="skin">
				<div class="skin-item skin-top">
					<div class="skin-top-inner"></div>
					<div class="skin-top-inner2"></div>
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="config.js"></script>
		<script type="text/javascript" src="layout.js"></script>
    </body>
</html>