.impexs-component-tabe-page{
	
}
.impexs-component-tabe-page .pagination {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.impexs-component-tabe-page .pagination li {
    cursor: pointer;
    display: inline;
    font-size: 10px;
    padding: 4px 8px;
    margin-left: 0;
    margin-right: 5px;
    border-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: transparent;
    border: 1px solid #e4e4e4;
}
.impexs-component-tabe-page .pagination li {
    font-size: 13px;
}
.impexs-component-tabe-page .pagination .select {
    background-color: transparent!important;
    border: 0px!important;
    padding: 0px!important;
    cursor: default!important;
    height: 25px;
}
.impexs-component-tabe-page .pagination .select select {
    padding: 3px 2px;
}

.impexs-component-tabe-page .pagination .goto {
    background-color: transparent!important;
    border: 0px!important;
    padding: 0px!important;
    cursor: default!important;
}

.impexs-component-tabe-page .pagination .goto input {
    width: 40px;
    text-align: center;
    height: 25px;
}


.impexs-component-tabe-page .pagination .goto  .btn, .btn-default, .btn-default:focus, .btn:focus {
    border-color: #ddd;
    border-bottom-color: #cecece;
    background: #f4f4f4;
    background-image: -webkit-linear-gradient(top,#f4f4f4 0,#eaeaea 100%);
    background-image: linear-gradient(to bottom,#f4f4f4 0,#eaeaea 100%);
    background-repeat: repeat-x;
}
.impexs-component-tabe-page .pagination .goto  .btn-sm {
    font-size: 12px;
    line-height: 15px;
    padding: 4px 9px;
}

.impexs-component-tabe-page .pagination .goto .btn {
    text-shadow: none;
    line-height: 15px;
    font-weight: 400;
    padding: 7px 12px;
    outline: 0!important;
}
.impexs-component-tabe-page .pagination .active {
    background: #64bed8;
    border-color: #64bed8;
    z-index: 2;
    color: #fff;
    cursor: default;
}
.impexs-component-tabe-page .pagination .disabled:hover {
    border-color: #ddd;
    cursor: not-allowed;
}
.impexs-component-tabe-page .pagination>li:hover {
    color: #205f82;
    background-color: #eee;
    border-color: #ddd;
}

.x-order .sorticon:AFTER{
	display: inline;
    padding: 0 13px 0 0;
	content: "";
    background: url('images/grid_icons.png') no-repeat -64px center;
}
.x-order .sorticon.sorticon-asc:AFTER{
	display: inline;
    padding: 0 13px 0 0;
	content: "";
    background: url('images/grid_icons.png') no-repeat 0px center;
}
.x-order .sorticon.sorticon-desc:AFTER{
	display: inline;
    padding: 0 13px 0 0;
	content: "";	
    background: url('images/grid_icons.png') no-repeat -16px center;
}

/**数据表格样式**/
.impex-datagrid{width:100%;}
.impex-datagrid .title{padding-left:24px;position:relative;border:1px solid #ccc;height:25px;line-height:25px;background-color:rgba(0, 0, 0, 0.06);}
.impex-datagrid .title .icon{left:4px;display: inline-block;width: 16px;height: 16px;font-size: 1px;position: absolute;margin-top: -8px;top: 50%;margin-right:16px;}
.impex-datagrid .title .text{font-size:13px;display: inline-block;font-weight:bold;line-height:25px;}
.impex-datagrid .table{width:100%;border:1px solid #ccc;}
.impex-datagrid .table thead tr th{background-color:#DDD;line-height:24px;height:24px;font-size:12px;text-align:left;padding-left:3px;border-right:1px dotted #FFF;}
.impex-datagrid .table thead tr th:last-child{border-right:none;}
.impex-datagrid .table tbody tr td{border-bottom:1px dotted #ccc;height:22px;line-height:22px;font-size:12px;padding-left:3px;border-right:1px dotted #CCC;}
.impex-datagrid .table tbody tr:last-child td{border-bottom:none;}
.impex-datagrid .table tbody tr td:last-child{border-right:none;}
.impex-datagrid .toolbar{height:30px;border:1px solid #ccc;padding:3px;}
.impex-datagrid .table .line-number{text-align:center;width:30px;max-width:80px;padding-right: 5px;}
.impex-datagrid .checkAll{}
.impex-datagrid .checkbox{}
/**数据表格样式结束**/

/**按钮样式**/
.impex-linkbutton{display: inline-block;position: relative;padding: 1px 5px 4px 5px;border: 1px solid transparent;border-radius: 3px;margin-top: 1px;}
.impex-linkbutton:hover{background-color:#EEE;cursor:pointer;border:1px solid #CCC;}
.impex-linkbutton .icon{left:4px;display: inline-block;width: 16px;height: 16px;font-size: 1px;vertical-align: middle;}
.impex-linkbutton .text{display:inline-block;font-size:12px;vertical-align: middle;}
/**按钮样式结束**/

/**分页组件样式**/
.impex-pager{padding:3px;border:1px solid #ccc;height:30px;position:relative;}
.impex-pager div{display:inline-block;}
.impex-pager .separator{float: left;height: 24px;border-left: 1px solid #ccc;border-right: 1px solid #fff;margin: 3px 5px;}
.impex-pager .pageNos{float:left;height:22px;margin-top:4px;}
.impex-pager .btn{position:relative;float:left;height:24px;width:24px;margin-top:3px;border:1px solid transparent;}
.impex-pager .btn:hover{border:1px solid #EEE;border-radius:3px;cursor:pointer;background-color:rgb(242,242,242);}
.impex-pager .pagination-icon{display: inline-block;width: 16px;height: 16px;line-height: 16px;margin-top: -8px;font-size: 1px;    position: absolute;left: 50%;top: 50%;margin-left: -8px;}
.impex-pager .first-page{background: url('images/pagination_icons.png') no-repeat 0 center;}
.impex-pager .prev-page{background: url('images/pagination_icons.png') no-repeat -16px center;}
.impex-pager .pageNum-container{display:inline-block;float:left;font-size:12px;height:24px;margin-top:4px;}
.impex-pager .next-page{background: url('images/pagination_icons.png') no-repeat -32px center;}
.impex-pager .last-page{background: url('images/pagination_icons.png') no-repeat -48px center;}
.impex-pager .refresh{background: url('images/pagination_icons.png') no-repeat -64px center;}
.impex-pager .refresh{background: url('images/pagination_icons.png') no-repeat -64px center;}
.impex-pager .btn-disabled{background: transparent;}
.impex-pager .btn-disabled,.btn.btn-disabled:hover{opacity: 0.5;cursor: default;}
.impex-pager .pagination-info{float: right;margin: 0 6px 0 0;padding: 0;height: 30px;line-height: 30px;font-size: 12px;}
/**分页组件样式结束**/

/**窗口组件样式**/
.impex-window{position:fixed;border:1px solid #95B8E7;padding-bottom:2px;left:50%;top:50%;}
.impex-window .title{font-size:12px;background-color:rgb(242, 242, 242);border-bottom:1px solid #ddd;}
.impex-window .title .icon{display: inline-block;width: 16px;height: 16px;line-height: 16px;font-size: 1px;margin: 4px 2px 0px 2px}
.impex-window .title table{width:100%;height:30px;}
.impex-window .title .iocn-container{width:20px;}
.impex-window .title .right{text-align:right;}
.impex-window .title .right .close{background-color:transparent;opacity:0.5;}
.impex-window .title .right .close:hover{cursor: pointer;opacity:1;}
.impex-window .body{overflow:auto;background-color:#fff;}
.impex-window .footer{height:44px;background-color:#F0F0F0;border-top:1px solid #ddd;}
/**窗口组件样式结束**/

/**遮罩层样式**/
.impex-mask-layer{width:100%;height:100%;position:fixed;left:0px;top:0px;background-color:rgba(0, 0, 0, 0.3);}
/**遮罩层样式结束**/

/**弹出框样式**/
.alertify,
.alertify-show,
.alertify-log {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
	-webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
	-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
	position: fixed; z-index: 99999;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color:white;
	filter:alpha(opacity=0);
	opacity:0;
}
	.alertify-cover-hidden {
		display: none;
	}
.alertify {
	position: fixed; z-index: 99999;
	top: 50px; left: 50%;
	width: 550px;
	margin-left: -275px;
	opacity: 1;
}
	.alertify-hidden {
		-webkit-transform: translate(0,-150px);
		   -moz-transform: translate(0,-150px);
		    -ms-transform: translate(0,-150px);
		     -o-transform: translate(0,-150px);
		        transform: translate(0,-150px);
		opacity: 0;
		display: none;
	}
	/* overwrite display: none; for everything except IE6-8 */
	:root *> .alertify-hidden {
		display: block;
		visibility: hidden;
	}
.alertify-logs {
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	width: 300px;
}
.alertify-logs-hidden {
	display: none;
}
	.alertify-log {
		display: block;
		margin-top: 10px;
		position: relative;
		right: -300px;
		opacity: 0;
	}
	.alertify-log-show {
		right: 0;
		opacity: 1;
	}
	.alertify-log-hide {
		-webkit-transform: translate(300px, 0);
		   -moz-transform: translate(300px, 0);
		    -ms-transform: translate(300px, 0);
		     -o-transform: translate(300px, 0);
		        transform: translate(300px, 0);
		opacity: 0;
	}
	.alertify-dialog {
		padding: 25px;
	}
		.alertify-resetFocus {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		.alertify-inner {
			text-align: center;
		}
		.alertify-text {
			margin-bottom: 15px;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			font-size: 100%;
		}
		.alertify-buttons {
		}
			.alertify-button,
			.alertify-button:hover,
			.alertify-button:active,
			.alertify-button:visited {
				background: none;
				text-decoration: none;
				border: none;
				/* line-height and font-size for input button */
				line-height: 1.5;
				font-size: 100%;
				display: inline-block;
				cursor: pointer;
				margin-left: 5px;
			}

@media only screen and (max-width: 680px) {
	.alertify,
	.alertify-logs {
		width: 90%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.alertify {
		left: 5%;
		margin: 0;
	}
}
/**弹出框样式结束**/

/**弹出框默认皮肤样式**/
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	background: #FFF;
	border: 10px solid #333; /* browsers that don't support rgba */
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.alertify-text {
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 4px;
}
.alertify-button {
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image:    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image:     -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image:      -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image:         linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}
.alertify-button:hover,
.alertify-button:focus {
	outline: none;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.alertify-button:focus {
	box-shadow: 0 0 15px #2B72D5;
}
.alertify-button:active {
	position: relative;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
	background-color: #FE1A00;
	border: 1px solid #D83526;
}
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
	background-color: #5CB811;
	border: 1px solid #3B7808;
}

.alertify-log {
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
.alertify-log-error {
	background: #FE1A00;
	background: rgba(254,26,0,.9);
}
.alertify-log-success {
	background: #5CB811;
	background: rgba(92,184,17,.9);
}
/**弹出框默认皮肤样式结束**/

/*-------------------------------------
zTree Style
version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/
-------------------------------------*/

.ztree * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:5px; color:#333}
.ztree li{padding:0; margin:0; list-style:none; line-height:14px; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 18px}
.ztree li ul.line{ background:url(images/ztree/line_conn.gif) 0 0 repeat-y;}

.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; height:17px; color:#333; background-color: transparent;
	text-decoration:none; vertical-align:top; display: inline-block}
.ztree li a:hover {text-decoration:underline}
.ztree li a.curSelectedNode {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.tmpTargetNode_inner {padding-top:0px; background-color:#316AC5; color:white; height:16px; border:1px #316AC5 solid;
	opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
	font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:16px; margin-right:2px}
.ztree li span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("images/ztree/zTreeStandard.png"); *background-image:url("images/ztree/zTreeStandard.gif")}

.ztree li span.button.chk {width:13px; height:13px; margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -14px}
.ztree li span.button.chk.checkbox_false_part {background-position:0 -28px}
.ztree li span.button.chk.checkbox_false_part_focus {background-position:0 -42px}
.ztree li span.button.chk.checkbox_false_disable {background-position:0 -56px}
.ztree li span.button.chk.checkbox_true_full {background-position:-14px 0}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-14px -14px}
.ztree li span.button.chk.checkbox_true_part {background-position:-14px -28px}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-14px -42px}
.ztree li span.button.chk.checkbox_true_disable {background-position:-14px -56px}
.ztree li span.button.chk.radio_false_full {background-position:-28px 0}
.ztree li span.button.chk.radio_false_full_focus {background-position:-28px -14px}
.ztree li span.button.chk.radio_false_part {background-position:-28px -28px}
.ztree li span.button.chk.radio_false_part_focus {background-position:-28px -42px}
.ztree li span.button.chk.radio_false_disable {background-position:-28px -56px}
.ztree li span.button.chk.radio_true_full {background-position:-42px 0}
.ztree li span.button.chk.radio_true_full_focus {background-position:-42px -14px}
.ztree li span.button.chk.radio_true_part {background-position:-42px -28px}
.ztree li span.button.chk.radio_true_part_focus {background-position:-42px -42px}
.ztree li span.button.chk.radio_true_disable {background-position:-42px -56px}

.ztree li span.button.switch {width:18px; height:18px}
.ztree li span.button.root_open{background-position:-92px -54px}
.ztree li span.button.root_close{background-position:-74px -54px}
.ztree li span.button.roots_open{background-position:-92px 0}
.ztree li span.button.roots_close{background-position:-74px 0}
.ztree li span.button.center_open{background-position:-92px -18px}
.ztree li span.button.center_close{background-position:-74px -18px}
.ztree li span.button.bottom_open{background-position:-92px -36px}
.ztree li span.button.bottom_close{background-position:-74px -36px}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}
.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-56px 0}
.ztree li span.button.center_docu{background-position:-56px -18px}
.ztree li span.button.bottom_docu{background-position:-56px -36px}
.ztree li span.button.noline_docu{ background:none;}

.ztree li span.button.ico_open{margin-right:2px; background-position:-110px -16px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_close{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_docu{margin-right:2px; background-position:-110px -32px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.edit {margin-right:2px; background-position:-110px -48px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.remove {margin-right:2px; background-position:-110px -64px; vertical-align:top; *vertical-align:middle}

.ztree li span.button.ico_loading{margin-right:2px; background:url(images/ztree/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {width:16px; height:16px; display: inline-block; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-position:-110px -80px; background-image:url("images/ztree/zTreeStandard.png"); *background-image:url("images/ztree/zTreeStandard.gif")}

ul.ztree.zTreeDragUL {margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:hidden; background-color:#cfcfcf; border:1px #00B83F dotted; opacity:0.8; filter:alpha(opacity=80)}
.zTreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}

/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/
/**ztree样式结束**/

/**impex-layout组件样式**/
.impex-layout{height:100%;width:100%;display:flex;flex-direction:column;overflow:hidden;}
.impex-layout header{height:86px;box-shadow: 0 1px 2px 0 RGBA(0,0,0,.3);z-index:25;position:relative;}
.impex-layout header .hb{position:absolute;bottom:0px;width:100%;font-size:0px;height:2px;background-color:rgb(16,97,154);}
.impex-layout header .tV0{height: 34px;position: absolute;bottom: 0;width: 100%;left: 0;z-index: 5;}
.impex-layout header .wo0{line-height: 0;font-size: 0;height: 34px;overflow: hidden;position: relative;margin-right: 36px;z-index: 2;}
.impex-layout header ul{padding:0px;position: absolute;height:33px;width: 100%;left: 12px;top: 0px;margin-bottom:2px;list-style:none;}
.impex-layout header ul li{position:relative;font-size:14px;float:left;height:22px;padding: 7px 20px 2px 8px;text-align:center;border-top:1px solid rgb(248, 250, 252);border-right:1px solid #c3ced5;cursor:pointer;}
.impex-layout header ul li:first-child{border-top-left-radius: 5px;border-left:0px solid #F0F0F0;}
.impex-layout header ul li:last-child{border-top-right-radius: 5px;border-right:0px solid #F0F0F0;}
.impex-layout header ul li.op{margin-top:4px;height:18px;}
.impex-layout header ul li.op .icon{display:inline-block;width:8px;height:8px;background-image:url(images/tool.png);background-repeat:no-repeat;background-position:0 -256px;position:absolute;left:10px;top:10px;}
.impex-layout header ul li.tr5{border-top-right-radius:5px;}
.impex-layout header ul li.tab-bg{background-color:rgb(226, 237, 246);}
.impex-layout header ul li.tab-bg:hover{background-color:rgba(226, 237, 246, 0.5);border-top:1px solid transparent;}
.impex-layout header ul li.tab-bg-select{background-color:rgb(16,97,154);border-top:1px solid transparent;}
.impex-layout header ul li.tab-bg-select:hover{background-color:rgb(16,97,154);border-top:1px solid transparent;}
.impex-layout header ul li .label{margin-left:6px;display: block;width: 100%;white-space: nowrap;position: relative;overflow: hidden;line-height: 16px;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.impex-layout header ul li.tab-bg-select .label{color:#FFF;font-weight:bold;text-overflow: ellipsis;-o-text-overflow: ellipsis;}
.impex-layout header ul li .close{outline:0;position:absolute;display:inline-block;height:15px;width:15px;right:3px;top:8px;border:1px solid transparent;}
.impex-layout header ul li .close .icon{width:14px;height:14px;background-position:0 -288px;position:absolute;left:4px;top:3px;background-image:url(images/tool.png);display:block;}
.impex-layout header ul li .close:hover{border:1px solid rgba(16,97,154,0.2);border-radius:10px;}
.impex-layout .center{z-index:25;flex:1;display:flex;flex-direction:row;}
.impex-layout .center nav{width:201px;overflow:hidden;position:relative;border-right:1px solid #c3ced5;}
.impex-layout .center nav .menu{}
.impex-layout .center nav .menu li{height:28px;font-size:12px;line-height:28px;cursor:pointer;}
.impex-layout .center nav .menu li:hover{background-color:rgb(220, 230, 241);}
.impex-layout .center nav .menu li .label{padding-left:26px;height:100%;}
.impex-layout .center nav .menu li .label .icon{width:14px;height:14px;display:inline-block;margin-right:5px;}
.impex-layout .center nav .menu li .label .icon-app{float:left;background:url(images/app.png) no-repeat;background-size:14px 14px;margin-top:7px;}
.impex-layout .center nav .menu li a{text-decoration:none;color:rgb(34,34,34);}
.impex-layout .center nav .menu li a:active{color:rgb(34,34,34);}
.impex-layout .center .container{flex:1;overflow:auto;margin-top:2px;display:flex;flex-direction:column;}
.impex-layout .center .container .panel{width:100%;height:100%;display:none;flex:1;position: relative;}
.impex-layout .center .container .panel.active{display:block;}
.impex-layout .center .container .panel .panel-loading{position:absolute;background:url(images/loading.gif) no-repeat;background-size:32px;padding-left:40px;left:50%;top:50%;margin-left:-66px;margin-top:-16px;height:32px;line-height:32px;}
.impex-layout .center .container .panel .panel-error{position:absolute;background:url(images/pageError.png) no-repeat;background-size:32px;padding-left:40px;left:50%;top:50%;margin-left:-82px;margin-top:-16px;height:32px;line-height:32px;}
.impex-layout .center .container .panel .panel-blank{position:absolute;background:url(images/blank.png) no-repeat;background-size:32px;padding-left:40px;left:50%;top:50%;margin-left:-82px;margin-top:-16px;height:32px;line-height:32px;}
.impex-layout footer.skin{z-index:-1;width:100%;height:100%;position:absolute;top:0;left:0;background-repeat:repeat-x;background-image:url(images/skin.png);background-position:0 86px;}
.impex-layout footer .skin-top{position:absolute;width:100%;top: 0;left: 0;z-index: 8;height: 86px;background-repeat: repeat-x;overflow: hidden;background-repeat: repeat-x;background: -webkit-linear-gradient(top,#196eac 0,#7fb4d9 100%);}
.impex-layout footer .skin-top .skin-top-inner{display: block;background: -webkit-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background: -moz-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background: -ms-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background: -o-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background: linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);position: absolute;width: 100%;height: 100%;}
.impex-layout footer .skin-top .skin-top-inner2{display: block;background: -webkit-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background: -moz-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background: -ms-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background: -o-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background: linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);opacity: .4;z-index: 2;position: absolute;width: 100%;height: 100%;}
/**impex-layout组件样式结束**/

/**perfect-scrollbar样式**/
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}
/**perfect-scrollbar样式结束**/


/***************搜索框*******************/
.impex-searchBox{
	width:auto;
	height:20px;
	display: inline-block;
	border:1px solid #95B8E7;
}

.impex-searchBox .searchBox_select{
	height:16px;
	border:0px;
	vertical-align:middle;
	outline:medium;
	position:relative;
	top:-2px;
}

.impex-searchBox .searchBox_input_icon{
	height:20px;
	display: inline-block;	
}
.impex-searchBox .span_left_border{
	border-left:#95B8E7 solid 1px;
}

.impex-searchBox .searchBox_input{
 	height:18px;
 	border:0px;
 	padding:0px 5px;
 	outline:medium;
 	vertical-align:middle;
 	position:relative;
	top:-2px;
}

.impex-searchBox .searchBox_icon{
	display: inline-block;
	vertical-align:middle;
	width:18px;
	height:16px;
	background:url('images/searchbox_button.png') no-repeat;
	position:relative;
	top:-2px;
}
/***************搜索框结束*******************/